html{width:100%;height:100%;}
body{width:100%;height:100%;background:-webkit-linear-gradient(top,#a2cc68 0%,#7ab243 100%);background:-moz-linear-gradient(top,#a2cc68 0%,#7ab243 100%);background:linear-gradient(top,#a2cc68 0%,#7ab243 100%);}
table{width:100%;font-size:12px;}
*{font-family:Helvetica, Arial, sans-serif;margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;}
.hidden{display:none;}
input.text{display:block;width:100%;padding:2px 4px 1px 4px;font-size:12px;line-height:14px;color:#777;border-left:1px solid #ababab;border-right:1px solid #ababab;border-top:1px solid #707070;border-bottom:1px solid #cecece;background:white URL(../images/inputBg.png) repeat-x;}
div.hr{height:1px;border:0;background:-moz-linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);background:-webkit-linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);background:-o-linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);background:-ms-linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);background:linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);}
.btn{position:relative;display:inline-block;font-size:13px !important;line-height:15px !important;border:1px solid #9f9891;padding:2px 10px;border-radius:3px;color:#555;cursor:default;box-shadow:0 0 2px rgba(0,0,0,.3);outline:0;
background:-webkit-linear-gradient(top,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);
background:-moz-linear-gradient(top,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);
background:linear-gradient(top,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);
}
.btn:hover{text-decoration:none;color:#555;}
.btn:active{
background:-webkit-linear-gradient(top,#d3cbc1,#d3cbc1 1px,#d8d1c8 1px,#d8d1c8 2px,#ddd7ce 2px,#e2dad3 50%,#dad1ca 50%,#d3cac1);
background:-moz-linear-gradient(top,#d3cbc1,#d3cbc1 1px,#d8d1c8 1px,#d8d1c8 2px,#ddd7ce 2px,#e2dad3 50%,#dad1ca 50%,#d3cac1);
background:linear-gradient(top,#d3cbc1,#d3cbc1 1px,#d8d1c8 1px,#d8d1c8 2px,#ddd7ce 2px,#e2dad3 50%,#dad1ca 50%,#d3cac1);

}
.btn.mini{padding:0 6px;font-size:11px !important;}
.btn-group{font-size:0 !important;}
.btn-group.right{text-align:right;}
.btn-group .btn{border-radius:0;}
.btn-group .btn + .btn{border-left:0;}
.btn-group .btn:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.btn-group .btn:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px;}

/*INI-whiteBox*/
.whiteBox{position:relative;background:white;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);padding:2px;text-align:left;}
.whiteBox::before{content:' ';font-size:10px;position:absolute;top:-16px;left:-moz-calc(50% - 8px);left:-webkit-calc(50% - 8px);left:calc(50% - 8px);width:0;height:0;border:8px solid;border-color:transparent transparent white transparent;}
.whiteBox h3{color:#333;text-align:center;}
.whiteBox p{color:#888;text-align:center;font-size:12px;}
.whiteBox table{margin-top:10px;}
.whiteBox table.form{}
.whiteBox table.form td:first-child{text-align:right;width:30%;padding-right:10px;}
.whiteBox table.form td input.text{margin:2px 0;}
.whiteBox table td.separator{height:20px;}
/*END-whiteBox*/


/*INI-login*/
.registerForm{text-align:center;padding-top:100px;vertical-align:middle;}
.loginForm > .userGrid{position:absolute;display:inline-block;top:25%;width:100%;height:180px;line-height:180px;text-align:center;font-size:11px;vertical-align:middle;}
.loginForm > .userGrid > .user{display:inline-block;vertical-align:middle;line-height:10px;}
.loginForm > .userGrid > .user .image{display:inline-block;background-color:white;padding:4px;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);margin:0 20px;}
.loginForm > .userGrid > .user .image img{height:64px;}
.loginForm > .userGrid > .user .name{padding:6px 0;color:white;font-weight:bold;}
.loginForm > .userGrid > .user .whiteBox{width:180px;margin-top:10px;}
.loginForm > .wodContainer{width:400px;height:auto;margin:50px auto 0 auto;background:white;border-radius:3px;box-shadow:0 2px 4px rgba(0,0,0,.4);}
/*END-login*/
/*INI-register*/
.registerForm{text-align:center;padding-top:100px;vertical-align:middle;}
.registerForm .whiteBox{display:inline-block;width:600px;vertical-align:middle;padding:12px;}
.registerForm .whiteBox::before{display:none;}
.registerForm .btn-group{text-align:right;margin-top:10px;}
/*END-register*/


